[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

networkx = "*"
matplotlib = "*"
peakutils = "*"
numpy = "*"
tqdm = "*"


[dev-packages]

[requires]
python_version = "3.6"

